:root{
    --rose:#ffe8e8;
    --dark-rose:#e06e6e;
    --navy:#001F3F;
    --brown:#4F3A2D;
    --black:#333;
    --white: #fff;
    --bg: #f5f5f5;
    --dark-bg: rgba(0,0,0,.7);
    --grey:#666;
    --beige:#fefcea;
    --border:.1rem solid #aaa;
    --border-hover:.1remm solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Crimson Pro', serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .4s cubic-bezier(0.43, 1.1, .62, 1.08);
    transition: width none;
}


* > img{
    user-select: none;
    pointer-events: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--white);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--dark-rose);
}


section{
    padding: 5rem 10%;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
    border: var(--border);
    border-radius: 15px;
    background: var(--rose);
    padding: 1rem;
}
.heading span{
    font-size: 4.5rem;
    color: var(--navy);
    font-weight: 500;
}


.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    z-index: 1000;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--navy);
}
.header .logo i{
    color: var(--dark-rose);
    padding-right: .5rem;
    font-size: 2rem;
}
.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--navy);
    font-weight: 500;
}
.header .navbar a:hover{
    color: var(--dark-rose);
}


#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--navy);
    display: none;
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    background: var(--beige);
    color: #000;
    font-size: 2.2rem;
    font-weight:500;
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 10px;
}
.btn:hover{
    letter-spacing: .04rem;
}
.btn1{
    margin-top: 1rem;
    display: inline-block;
    background: var(--navy);
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 10px;
}
.btn1:hover{
    filter: brightness(136%);
}




.home{
    padding: 0;
    background: var(--black);
}
.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .slide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark-bg);
    z-index: -1;
}
.home .slide .content{
    text-align: center;
    width: 70rem;
    display: none;
}
.home .slide .content span{
    font-size: 4vw;
    font-weight: 500;
    display: block;
    padding-bottom: .5rem;
    color: var(--white);
    animation: fadeIn .2s cubic-bezier(0.54, 1.3, 0.63, 1.34) .2s backwards;
}
.home .slide .content h3{
    font-size: 4vw;
    font-weight: 500;
    color: var(--beige);
    text-shadow: 0 .5rem 1rem rgba(255,255,255,.3);
    line-height: 1;
    padding: 2rem 0;
    animation: fadeIn .2s cubic-bezier(0.54, 1.3, 0.63, 1.34) .4s backwards;
}
.home .slide .content .btn{
    animation: fadeIn .2s cubic-bezier(0.54, 1.3, 0.63, 1.34) .6s backwards;
}
.home .swiper-slide-active .content{
    display: inline-block;
}



.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.about .image{
    flex: 1 1 41rem;
}
.about .image img{
    width: 50rem;
    height: 55rem;
    border-radius: 10px;
}
.about .content{
    flex: 1 1 41rem;
}
.about .content .title{
    font-size: 4rem;
    color: var(--navy);
    font-weight: 500;
}
.about .content p{
    font-size: 1.8rem;
    color: var(--grey);
    padding: 1rem 0;
    line-height: 1.7;
}
.about .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.6rem;
    margin-top: 2rem;
}
.about .content .icons-container .icons{
    flex: 1 1 16rem;
    text-align: center;
    background: var(--rose);
    border: var(--border);
    padding: 3rem 2rem;
    border-radius: 10px;
}
.about .content .icons-container .icons img{
    height: 7rem;
    border-radius: 10px;
}
.about .content .icons-container .icons h3{
    padding-top: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--navy);
}





.food .slide{
    text-align: center;
    padding: 4rem 2rem;
    border-radius: 10px;
    border: var(--border);
    background: var(--beige);
    margin-bottom: 4rem;
    cursor: pointer;
}

.food .slide img{
    height: 25rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.food .slide h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--navy);
    font-weight: 500;
}
.food .slide p{
    font-size: 1.7rem;
    color: var(--grey);
    line-height: 1.6;
    margin-bottom: 0.5rem;
}
.food .slide .price{
    font-size: 2.5rem;
    color: var(--dark-rose);
    font-weight: 500;
}
.swiper-pagination-bullet-active {
    background-color: var(--dark-rose) !important;
}


.food-preview-container{
    background: var(--dark-bg);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1100;
    display: none;
    align-items: center;
    justify-content: center;
}
.food-preview-container .food-preview img{
    height: 25rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.food-preview-container .food-preview{
    text-align: center;
    background: var(--white);
    padding: 3rem 2rem;
    border-radius: 10px;
    display: none;
    width: 35rem;
}
.food-preview-container .food-preview.active{
    display: inline-block;
}
.food-preview-container .food-preview h3{
    padding: 1rem 0;
    font-size: 2.5rem;
    color: var(--navy);
    font-weight: 500;
}
.food-preview-container .food-preview .stars{
    margin-bottom: 1rem;
}
.food-preview-container .food-preview .stars i{
   font-size: 1.6rem;
   color: var(--dark-rose);
}
.food-preview-container .food-preview p{
    font-size: 1.4rem;
    color: var(--grey);
    padding: .5rem 0;
    line-height: 1.5;
}
.food-preview-container .food-preview .price{
    font-size: 2rem;
    color: var(--navy);
    margin-bottom: .5rem;
}
#close-preview{
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    font-size: 3.5rem;
    cursor: pointer;
    color: var(--beige);
}
#close-preview:hover{
    color: var(--dark-rose);
    transform: rotate(90deg);
}





.gallery .gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}
.gallery .gallery-container .box{
    height: 20rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.gallery .gallery-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.gallery .gallery-container .box .icon{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: var(--dark-bg);
}
.gallery .gallery-container .box .icon i{
    font-size: 5rem;
    color: var(--rose);
}
.gallery .gallery-container .box:hover .icon{
    display: flex;
}





.menu .slide .title{
    padding: 1rem;
    font-size: 3rem;
    color: var(--white);
    background: var(--navy);
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
}
.menu .slide .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 4rem;
}
.menu .slide .box-container .box{
    flex: 1 1 41rem;
    background: var(--white);
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}
.menu .slide .box-container .box h3{
    font-size: 2rem;
    font-weight: 400;
    color: var(--navy);
    padding-bottom: .5rem;
}
.menu .slide .box-container .box p{
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
}
.menu .slide .box-container .box .price{
    font-size: 2.2rem;
    color: var(--dark-rose);
}
.menu .slide .box-container .box:hover{
    transform: scale(0.98);
}




.order{
    background: url(order_cover.png);
    background-size: cover !important;
    background-position: center !important;
    background-color: rgba(255,255,255 0.05);
    background-blend-mode: overlay;
}
.order .heading{
    color: var(--beige);
    background: var(--navy);
    text-align: center;
    margin-bottom: 3rem;
    border: var(--border);
    border-radius: 15px;
    padding: 1rem;
}
.order .heading span{
    font-size: 4.5rem;
    color: var(--beige);
    font-weight: 400;
}
.order form{
    padding: 2rem;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0.4rem .8rem 1.2rem rgba(0,0,0,.2);
    align-items: center;
    justify-content: center;
}
.order form .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.order form .box-container .box{
    flex: 1 1 41rem;
}
.order form .box-container .box .inputBox input,
.order form .box-container .box .inputBox textarea{
    width: 100%;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    font-size: 1.7rem;
    color: var(--grey);
    border: var(--border);
    text-transform: none;
    border-radius: 10px;
}
.order form .box-container .box .inputBox input::placeholder,
.order form .box-container .box .inputBox textarea::placeholder{
    text-transform: capitalize;
}
.order form .box-container .box .inputBox input::placeholder,
.order form .box-container .box .inputBox textarea::placeholder{
    color: var(--grey);
}
.order form .box-container .box .inputBox input:focus,
.order form .box-container .box .inputBox textarea:focus{
    background: var(--rose);
    color: var(--navy);
}
.order form .box-container .box .inputBox textarea{
    height: 20rem;
    resize: none;
}
.order form .box-container .box .inputBox .map{
    height: 20rem;
    width: 100%;
    margin: 1rem 0;
    padding: .5rem 0;
    border-radius: 10px;

}
.order form .box-container .box .inputBox span{
    color: var(--grey);
    font-size: 2rem;
}
.order form .btn1{
    align-items: center;
    align-self: center;
}
.order.overlay{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
.order .heading.overlay{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
.order .popup{
    width: 400px;
    background: var(--white);
    border-radius: 10px;
    box-shadow: .1rem .8rem 1rem rgba(255,255,255,.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    display: none;
}
.order .popup.active{
    display: block;
    z-index: 1000;
}
.order .popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}
.order .popup h5{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--navy);
    padding: 1rem 0;
    margin: 2rem;
}
.order .popup p{
    font-size: 1.8rem;
    padding: 1rem 0;
    margin: 1rem;
    line-height: 1.6;
    color: var(--grey);
}
.order .popup .btn1{
    width: 100%;
    background: var(--dark-rose);
}







.blogs .slide{
    border-radius: 10px;
    border: var(--border);
    box-shadow: var(--box-shadow);
}
.blogs .slide .image{
    height: 25rem;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    padding: 2rem;
}
.blogs .slide .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.blogs .slide:hover .image img{
    transform: scale(1.05);
}
.blogs .slide .content{
    padding: 2rem;
    background: var(--white);
}
.blogs .slide .content .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.blogs .slide .content .icon a{
    font-size: 1.5rem;
    color: var(--grey);
}
.blogs .slide .content .icon a i{
    padding-right: .7rem;
    color: var(--dark-rose);
}
.blogs .slide .content .icon .bor{
    padding-right: 5rem;
    border-right: var(--border);
}
.blogs .slide .content .icon a:hover{
    color: var(--dark-rose);
}
.blogs .slide .content .title{
    font-size: 2.5rem;
    color: var(--navy);
    padding: 1rem 0;
}
.blogs .slide .content .title:hover{
    text-decoration: underline;
}
.blogs .slide .content p{
    padding: 1rem 0;
    line-height: 1.6;
    font-size: 1.6rem;
    color: var(--grey);
}
.blogs .empty p{
    color: var(--white);
}







.footer{
    text-align: center;
}
.footer .icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 2rem;
    margin-bottom: 6rem;
}
.footer .icons-container .icons{
    text-align: center;
    padding: 3rem 2rem;
    background: var(--rose);
    border-radius: 10px;
    border: var(--border);
}
.footer .icons-container .icons i{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: var(--navy);
    color: var(--white);
    margin-bottom: 1rem;
    line-height: 5.8rem;
    font-size: 2rem;
}
.footer .icons-container .icons h3{
    font-size: 2rem;
    color: var(--navy);
    padding: 1rem 0;
    font-weight: 400;
}
.footer .icons-container .icons p{
    line-height: 1.5;
    font-size: 1.7rem;
    color: var(--black);
    text-transform: none;
}
.footer .share{
    margin: 2rem 0;
}
.footer .share a{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    color: var(--white);
    background: var(--navy);
    margin: 0 .3rem;
    font-size: 2.5rem;
    border-radius: 50%;
}
.footer .share a:hover{
    background: var(--dark-rose);
}
.footer .credit{
    padding-top: 2rem;
    margin-top: 3rem;
    border-top: var(--border);
    font-size: 2rem;
    color: var(--grey);
}
.footer .credit span{
    color: var(--dark-rose);
}




@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}
@media (max-width:991px){
    section{
        padding: 3rem 2rem;
    }
    html{
        font-size: 55%;
    }
    .home .slide .content h3{
        font-size: 15vw;
    }
}
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .fa-times{
        transform: rotate(180deg);
        color: var(--navy);
    }
    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        color: var(--white);
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
    }
    .about .image img{
        width: 100%;
        height: 45rem;
        border-radius: 10px;
    }
    .menu .slide .box-container .box{
        flex-flow: column;
        text-align: center;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .home .slide .content span{
        font-size: 3rem;
    }
    .home .slide .content h3{
        font-size: 4rem;
    }
    .order .popup{
        width: 78%;
        padding: 0 15px 15px;
    }
    .order .popup img{
        width: 70px;
        margin-top: -35px;
    }
    .order .popup h5{
        font-size: 2.2rem;
        padding: .5rem 0;
        margin: 1rem;
    }
    .order .popup p{
        font-size: 1.7rem;
        padding: .5rem 0;
        margin: .5rem;
    }
}
